body {
    width: 100%;
    margin: 0;
    .container {
        width: 80%;
        margin: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container__addtask {
            padding: 1em 2em;
            height: 80px;
            background: #464647;
            color: #f3e5e5;
            display: flex;
            flex-direction: row;
            .container__task {
                width: 70%;
                margin-left: 5%;
                .container__p {
                    text-transform: uppercase;
                    color: #e9f9f1;
                }
                .container__eg,
                .container__eg ::placeholder {
                    font-weight: 100;
                    font-size: 2em;
                    margin: 0;
                    color: #e2dddd;
                    background: #464647;
                    border: none;
                    font-style: italic;
                }
            }
            .container__btn {
                width: 20%;
                margin-right: 5%;
                background: #80b386;
                color: #e4f9f9;
                font-size: 1.3em;
            }
        }
        .container__list {
            padding: 2em 8em 3em 6em;
            background: #ededfb;
            color: #141c8a;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            li {
                position: relative;
                padding: 5px;
                margin: 40px;
                font-size: 1.2em;
                list-style: none;
                .task__name {
                    background: #ededfb;
                    color: #141c8a;
                    border: none;
                    cursor: pointer;
                    font-size: 1.3em;
                }
                input[type="checkbox"] {}
                input[type="checkbox"]:before {
                    content: "";
                    display: block;
                    border-radius: 50%;
                    width: 3em;
                    height: 3em;
                    position: absolute;
                    top: 3px;
                    left: -19px;
                    background-color: #edf5ee;
                    border: 1px solid #333;
                }
                input[type="checkbox"]:checked:before {
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
                    background-color: #81ce85;
                }
            }
            .task__delete-button {
                border: none;
                padding: 0;
                float: right;
                cursor: pointer;
                margin-top: -7px;
                span {
                    font-size: 36px;
                }
            }
        }
        .todolist__empty-state {
            color: #3f459b;
            font-size: 1.5em;
        }
    }
    @media only screen and (max-width: 768px) {
        * {
            font-size: 0.8em;
        }
        .container {
            width: 100%;
            margin: 0;
            font-size: 0.8em;
            .container__addtask {
                font-size: 0.8em;
                padding: 1em 0em;
                width: 100%;
                .container__btn {
                    font-size: 0.8em;
                }
                .conatiner__task .container__eg,
                .container__task .container__eg::placeholder {
                    font-size: 1.2em;
                    margin-top: 10px;
                }
            }
            .container__list {
                width: 100%;
                padding: 0 10px;
                .task {
                    width: 80%;
                    padding: 5px 0;
                    margin: 25px 5%;
                }
                .task .task__name {
                    font-size: 0.8em;
                }
                .task input[type=checkbox]:before {
                    width: 2.5em;
                    height: 2.5em;
                    left: -8px;
                }
                .task__delete-button span {
                    font-size: 25px;
                }
            }
        }
    }
}